/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.container {
  margin: 50px auto;
}

.gallery {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  width: 1128px;
  padding: 0;
}

.gallery-item:hover {
  transform: scale(1.005);
  transition: transform 0.1s ease;
}
